.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
features/**
MEDIUM_BLOG_POST.md
test/**
jest.config.js
coverage/**
src/test/**
